body{
  height: 3000px;
}

.inner{
  /* position: relative; */
  width: 1200px;
  margin: 0 auto;
}

/* header */
.navbar{
  position: fixed;
  height: 80px;
}

.navbar .inner div{
  display: flex;
}

.navbar .navbar-nav .nav-item{
  margin: 0 25px;
}

.navbar .navbar-nav{
  margin-left: 150px;
}

.navbar .navbar-nav .nav-link{
  padding: 10px;
  font-size: 20px;
}

/* .btn-group{
  position: absolute;
  margin-top: 120px;
} */