body{
  font-family: Arial, sans-serif;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
}

.inner{
  /* position: relative; */
  width: 1200px;
  margin: 0 auto;
}

/* header */
.navbar{
  position: fixed;
  height: 80px;
}

.navbar .inner div{
  display: flex;
}

.navbar .navbar-nav .nav-item{
  margin: 0 25px;
}

.navbar .navbar-nav{
  margin-left: 150px;
}

.navbar .navbar-nav .nav-link{
  padding: 10px;
  font-size: 20px;
}
